
body
{
    font-family: "QuicksandLight";
    width: 960px;
    margin: auto;
}

h1
{
    font-size: 30px;
}

h2
{
    font-size: 20px;
    margin-left: 50px;
}

.contenu
{
    font-size: 14px;
    text-decoration: none;
    width: 1000px;
    text-align: justify;

}

h3
{
    font-size: 14px;
    margin-left: 60px; 
    text-decoration: underline; 
}